/*Media queries*/
/* Mobile */
@media screen and (max-width: 400px) {
  * {
    width: 100%;
    background-color: black;
  }

  .navbar {
    width: 100%;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .navbar ul li {
    left: -25%;
  }
  .navbar ul .li-serie {
    margin-left: 23px;
  }
  .navbar ul a {
    font-size: 10px;
  }
  .navbar ul ul li {
    list-style: none;
  }
  .navbar ul ul li a {
    font-size: 8px;
    margin-left: 25px;
  }

  .contenedor {
    text-align: center;
  }
  .contenedor h1 {
    font-size: 18px;
    margin: 10px;
    padding: 20px;
  }
  .contenedor .container, .contenedor .container1, .contenedor .container2, .contenedor .container3, .contenedor .container4, .contenedor .container5 {
    flex-direction: column;
  }
  .contenedor .container .img img, .contenedor .container1 .img img, .contenedor .container2 .img img, .contenedor .container3 .img img, .contenedor .container4 .img img, .contenedor .container5 .img img {
    width: 65%;
    border-radius: 0%;
    align-content: center;
  }
  .contenedor .container h3, .contenedor .container1 h3, .contenedor .container2 h3, .contenedor .container3 h3, .contenedor .container4 h3, .contenedor .container5 h3 {
    font-size: 15px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer a {
    padding: 2%;
  }
  .footer a:hover {
    color: #e5e90f;
    font-weight: bolder;
  }
}
@font-face {
  font-family: "got";
  src: url("../fonts/Game of Thrones.ttf") format("woff");
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

/*HEADER*/
#header {
  font-family: "got";
  padding: 50px 25px 0px 25px;
  background-color: black;
  letter-spacing: 10px;
  text-align: center;
}
#header h1 {
  color: #fff0ff;
  font-size: 38px;
  position: relative;
  margin-bottom: 20px;
}

/* Navbar */
.navbar {
  width: 90%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  justify-content: space-evenly;
  padding-top: 25px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  width: 170px;
  text-align: center;
  float: left;
  color: #fff0ff;
  font-size: 15px;
  position: relative;
}
ul .navbar ul li:hover {
  color: #f2f5f7;
}
.navbar ul ul {
  display: none;
}
.navbar ul li:hover > ul {
  display: block;
  list-style: circle;
}
.navbar a {
  color: #fff0ff;
  text-decoration: none;
}
.navbar a:hover {
  font-weight: bolder;
  color: #00d5f1;
}

.li-casas {
  display: flex;
  flex-direction: row;
  text-align-last: justify;
  font-size: 100px;
  padding-left: inherit;
}

/* FIN HEADER */
.contenedor .container, .contenedor .container2, .contenedor .container3, .contenedor .container4, .contenedor .container5 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
  gap: 20px;
}
.contenedor .container .img img, .contenedor .container2 .img img, .contenedor .container3 .img img, .contenedor .container4 .img img, .contenedor .container5 .img img {
  width: 100%;
  border-radius: 10%;
}
.contenedor .container h3, .contenedor .container2 h3, .contenedor .container3 h3, .contenedor .container4 h3, .contenedor .container5 h3 {
  font-family: "got";
  font-size: 14px;
  margin-top: 10px;
  margin-left: 8px;
  color: #e5e90f;
  text-align: center;
  letter-spacing: 1px;
}
.contenedor .container h3:hover, .contenedor .container2 h3:hover, .contenedor .container3 h3:hover, .contenedor .container4 h3:hover, .contenedor .container5 h3:hover {
  font-weight: bolder;
  font-size: 16px;
  color: #f54b4b;
}
.contenedor h1 {
  font-family: "got";
  color: #fff0ff;
  text-align: center;
  font-size: 25px;
  letter-spacing: 10px;
  margin: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid;
  padding: 2%;
}
.footer a {
  font-size: 14px;
  font-family: "got";
  text-decoration: none;
  color: #e5e90f;
}
.footer a:hover {
  color: #f54b4b;
  font-weight: bolder;
}

/*# sourceMappingURL=style2.css.map */
