@import 'variables';

/*Media queries*/


/* Mobile */
@media screen and (max-width: $max-screen) {

* {
    width: $w-size;
    background-color: $bg-color;
}    

// nav

.navbar {
    width: $w-size;
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: left;

    li {
        left: -25%;
    }

    .li-serie {
        margin-left: 23px;
    }

    a {
      font-size: 10px;
      
  }
  

  ul li {
    list-style: none;

    a {
    font-size: 8px;    
    margin-left: 25px;
    
    }
}
  
  }


}
    }
// fin nav

// section
    .contenedor {
        
        
        h1 {
            font-size: 14px;
            text-align: center;
            
        }

        .container, .container1, .container2, .container3, .container4, .container5 {

        flex-direction: column;
        
        .img img {
            width: 75%;
            border-radius: 0%;
             
            
        }

        h3 {
            font-size: 12px;
            margin-left: -10%;
        }
    }
}

// footer
.footer {
    flex-direction: column;
    text-align: center;

    a {
        padding-bottom: 2px;
    &:hover {
        color: $color3;
        font-weight: bolder;
    }
    
}
}

