* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'got';
    src: url('fonts/Game\ of\ Thrones.ttf') format('woff');
}

@keyframes slide{
    
    from {
      margin-left: -100%;
      width: 50%;
    }
  
    to {
      margin-left: 25%;
      width: 50%;
    }
  }

/*Index*/

a {
    color: #fff0ff;
    text-decoration:wavy;
    
}

/* HEADER */

#header {
    font-family: 'got';
    padding: 50px 25px 0px 25px;
    background-color: black;
    letter-spacing: 10px;
    text-align: center;
    
}

#header h1{
    color: #fff0ff;
    font-size: 38px;
    position: relative;
    margin-bottom: 20px;
    
}

/* Navbar */

.navbar {
    border-top: 2px solid;
    border-bottom: 2px solid;
    justify-content: space-evenly;
    padding-top: 25px;
    position: relative;
}

.navbar ul {
    list-style: none;
    
}

.navbar ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar ul ul {
    display: none;
}

.navbar ul li:hover > ul {
    display: block;
    list-style: circle;
    
}

.li-casas {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    padding-left: inherit;
}

/* FIN HEADER */

/* img */

.imag {
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: unset;
    max-width: 50%;
    margin-left: 25%;
    
  }


/* Sintesis */

.sintesis {
    font-family: 'Baloo 2', cursive;
    border-top: 5px solid #fff0ff;
    border-bottom:5px solid #fff0ff;
    margin-left: 8%;
    margin-right: 8%;
    padding: 5%;
    letter-spacing: 0.2px;
    border-radius: 25px;
    color: #e5e90f;
}

.sintesis h2 {
    text-decoration: underline;

}
/* Fin Sintesis */

/* Argumento */

.contenedor {
    font-family: 'Baloo 2', cursive;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.george-martin {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-evenly;
}

.grrm {
    margin-top: 10px;
    font-family: 'got';
    font-size: 14px;
    justify-content: center;
    text-decoration: solid;
    color: whitesmoke;
}

.george-martin img {
    clip-path: circle(50% at 50% 50%);
}

.grrm-p {
    font-family: 'Baloo 2', cursive;
    width: 40%;
    height: 50%;
    margin-top: 3%;
    font-size: 15px;
        
}

span {
    text-decoration: underline;
    color: rgb(236, 18, 138);
}

.george-martin p {
    color: royalblue;
}


/* Fin argumento */

/*carousel*/

.carousel {
    position: relative;
    width: 350px;
    left: 30%;
    top: 50px;
    
}

.carousel-inner {
    justify-content: center;
    text-align: center;
    color: #fff0ff;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-next {
    right: -75px;
}

.carousel-indicators li{
    display: none;
}

.carousel-item {
        width: 100%;
        height: 500px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


/*fin carousel*/

/*Footer*/

.footer {
 margin-top: 100px;
 border-top: 2px solid grey;
 padding: 2%;
 text-align: center;
 display: flex;
 justify-content: space-evenly;
  
}

.footer a {
    font-family: 'got';
    text-decoration: none;
    color: #e5e90f;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.footer a:hover {
    font-weight: bold;
    color: #e90f8e;
    
}


/*fin footer*/



/*Serie Hbo*/

.body-hbo {
    height: 100%;
    font-family: 'Baloo 2', cursive;
    background-color: black;

}

/* navbar */

.navbar-hbo {
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    
}

.navbar-hbo ul {
    list-style: none;
}

.navbar-hbo ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-hbo ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-hbo ul ul {
    display: none;
}

.navbar-hbo ul li:hover > ul {
    display: block;
    list-style: circle;
    
}

.li-casas-hbo {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    padding-left: 30px;
}

/* fin navbar */

.video {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    opacity: 75%;
}

.contenido {
    color: #e5e90f;
    border-top: 5px solid #fff0ff;
    border-bottom:5px solid #fff0ff;
    border-radius: 30px;
    padding: 2%;
    margin-top:60px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    
}

.imagenes {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 10px;
}

.imagenes img {
    width: 100%;
    padding: 10px;
    border-radius: 50px;    
}

.imagenes1 {
     width: 50%;

}

.imagenes2 {
    width: 53%;
    
}

/*Fin HBO*/

/*Libros*/
.header-libros {
    font-family: 'got';
    padding: 50px 25px 0px 25px;
    background-color: black;
    letter-spacing: 10px;
    text-align: center;
    
}

.header-libros h1{
    color: #fff0ff;;
    font-size: 38px;
    position: relative;
    margin-bottom: 30px;

}
/* navbar */

.navbar-libros {
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    border-top: 2px solid grey;
    
}

.navbar-libros ul {
    list-style: none;

}

.navbar-libros ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-libros ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-libros ul ul {
    display: none;
}

.navbar-libros ul li:hover > ul {
    display: block;
    list-style: circle;
    
}

.li-casas-libros {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    padding-left: 30px;
    
}
/* fin navbar */

.body-libros {
    background-image: url(imagenes/tyrion.jpg);
    background-size: cover;
    font-family: 'Baloo 2', cursive;
}


/* desarrollo */

.container-books {
    display: flex;
    flex-direction: row;

}

.libro1 {
    margin: 20px;

}

.book1 {
    float: right;
    margin-top:50px;
}


.libro1 p {
    color: rgb(94, 38, 0);
    font-weight: bold;

}

.libro2 {
    margin-top: 50px ;
    margin-left: 30px;

}

.libro2 p, h3 {
    display: flex;
    align-items: center;
    padding: 20px;

}

.libro2 p {
    color: rgb(5, 83, 40);
    font-weight: bold;
}

.book2 {
    float: left;
}

.libro3 {
    margin: 60px;
    
}

.libro3 p {
    color: rgb(6, 117, 117);
    font-weight: bold;
}

.book3 {
    float: right;
    margin-top: 70px;
}

.libro4 {
    margin-top: 50px ;
    margin-left: 30px;
    padding-bottom: 50px;
}

.libro4 p, h3 {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(196, 77, 77);
    font-weight: bold;
}

.book4 {
    float: left;

}

/* fin desarrollo */

/*Fin libros*/

/*Personajes Starks*/

body {
    background-color: black;
    font-family: 'got';
    
}

/* navbar stark */

.navbar-stark {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.navbar-stark ul {
    list-style: none;

}

.navbar-stark ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-stark ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-stark ul ul {
    display: none;
}

.navbar-stark ul li:hover > ul {
    display: block;
    list-style:outside;
    padding-left: 20px;
}

.li-casas-stark {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    padding-left: 30px;
    
}
/* fin navbarstark */

/* imagenes */

.name-stark {
    color: rgb(240, 232, 232);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 20%;
}

.stark-family {
margin-left: 20%;
}

.grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-container-pic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(6, 25%);
    gap: 15px;
    
}

.grid-container-pic h4 {
    color: #e5e90f;
    text-align: center;
    font-size: 18px;

}

.item:hover {
    filter: opacity(0.9);
    transform: scale(1.2);
    filter: contrast(120%);
    
}

.ned {
    grid-row: 2 span ;
    
}

.ned h4 {
    margin-top: -20px;
}


.catelyn {
    grid-column: 2;
    grid-row: 1;
}

.catelyn h4 {
    margin-top: -20px;
}

.robb {
    grid-column: 2;
    grid-row: 2;
}

.robb h4 {
    margin-top: -20px;
}

.sansa {
    grid-column: 3;
    grid-row: 2 span;
}

.sansa h4 {
    margin-top: -20px;
}

.bran {
    grid-column: 1;
    grid-row: 4;
}

.bran h4 {
    margin-top: -40px;
}

.arya {
    grid-column: 2 span ;
    grid-row: 3;
}

.arya h4 {
    margin-top: -20px;
}

.rickon {
    grid-column: 3;
    grid-row: 3;
}

.rickon h4 {
    margin-top: -20px;
}

.jon {
    grid-column: 2 span;
    grid-row: 4;
}

.jon h4 {
    margin-top: -20px;
}

/* Fin Personajes Starks*/

/*Personajes Lannister*/

/* navbar lannister */

.navbar-lannister {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.navbar-lannister ul {
    list-style: none;

}

.navbar-lannister ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-lannister ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-lannister ul ul {
    display: none;
}

.navbar-lannister ul li:hover > ul {
    display: block;
    list-style:outside;
    padding-left: 20px ;
    
}

.li-casas-lannister {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    
}
/* fin navbarlannister */

.lannister-family {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    
}

.name-lannister {
    color: rgb(245, 245, 245);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.lannister-container-pic {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: repeat(3, 35%);
    justify-content: flex-start;
    margin-left: 25%;
    margin-bottom: 10%;
    gap: 15px; 

}

.lannister-container-pic h4 {
    margin-top: -30px;
    color: #e5e90f;
    text-align: center;     
    font-size: 18px;
}

.tywin {
grid-row: 3 span;
align-self: center;
}

.jaime {
    grid-row: 1;
    grid-column: 2;
    align-self: flex-end;
}

.cersei {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.tyrion {
    grid-row: 3;
    grid-column: 2;
    
}


/* Fin personajes Lannister */

/* Personajes Baratheon */

/* navbar Baratheon */

.navbar-baratheon {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.navbar-baratheon ul {
    list-style: none;

}

.navbar-baratheon ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-baratheon ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-baratheon ul ul {
    display: none;
}

.navbar-baratheon ul li:hover > ul {
    display: block;
    list-style:outside;
    padding-left: 20px ;
    
}

.li-casas-baratheon {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    
}
/* fin navbararatheon */

.baratheon-family {
    width: 100%;
    height: 100%;
    margin-top: 50px; 
   
    
}

.name-baratheon {
    color: rgb(245, 245, 245);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
}

.container-baratheon {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    gap: 20px;
    justify-content: center;
}

.container-baratheon h4 {
    color: #e5e90f;
    text-align: center;
    margin-top: -50px;
    font-size: 18px;
}

.robert {
    grid-row: 1;
    grid-column: 1/3 span;
    
}

.robert h4 {
    margin-top: -50px;
    
}

.joffrey {
    grid-row: 2 span;
    grid-column: 1;
    align-self: stretch;
}

.myrcella {
    grid-row: 2;
    grid-column: 2;
}

.tommen {
    grid-row: 2;
    grid-column: 3;
}

.stannis {
    grid-row: 3;
    grid-column: 2;
}

.renly {
    grid-row: 3;
    grid-column: 3;
}



/* Fin personajes Baratheon */

/* Personajes Targaryen */

/* navbar Baratheon */

.navbar-targaryen {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}


.navbar-targaryen ul {
    list-style: none;

}

.navbar-targaryen ul li {
    width: 170px;
    text-align: center;
    float: left;
    color: #fff0ff;
    font-size: 15px;
    position: relative;
}
.navbar-targaryen ul li:hover {
    color: rgb(18, 149, 236);    
}

.navbar-targaryen ul ul {
    display: none;
}

.navbar-targaryen ul li:hover > ul {
    display: block;
    list-style:outside;
    padding-left: 20px ;
    
}

.li-casas-targaryen {
    display: flex;
    flex-direction:row;
    text-align-last: justify;
    font-size: 100px;
    
}
/* fin navbartargaryen */


.targaryen-family {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.name-targaryen {
    color: rgb(247, 241, 241);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-targaryen {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: repeat(2, 35%);
    margin-top: 50px;
    margin-left: 25%;
    gap: 15px;      
}

.container-targaryen h4 {
    color: #e5e90f;
    text-align: center;
    margin-top: -30px;
    font-size: 18px;
}

.daenerys {
    grid-row: 2 span;
       
}

.vyseris {
    grid-column: 2;
    grid-row: 1;
    
}

.drogo {
    grid-column: 2;
    grid-row: 2;
}

/* fin Personajes Targaryen */

/*Media queries*/


/* Mobile */
@media only screen and (max-width: 400px){

/* index*/


.navbar .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar .li-casas{
    font-size: 10px;
    text-align: left;
}

.navbar .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-left: -45%;
    padding-left: 0;
}

.navbar .li-casas li {
    font-size: 8px;
    display: flex;
    margin-left: 80px;
    list-style: outside;
    cursor: pointer;
    
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }
  
/* fin query navbar */

/* body */

@keyframes slide{
    
    from {
      margin-left: -100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.imag {
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: unset;
    margin-left: 0%;
    
  }

.imag {
    max-width: 100%;
}


.sintesis {
    border-radius: 0%;
    align-content: center;
}

.contenedor {
    align-content: center;
    margin-left: -100px;
}

.george-martin p{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 250%;

}

.george-martin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;

}

.george-martin img {
    width: 100%;
    margin-left: 20%;
}

.grrm {
    text-align: center;
    margin-left: 35%;
}

.carousel {
    align-content: center;
    margin: -70px;
    width: 70%;
    height: 70%;
}


.footer {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 10px;

}

.footer a {
    padding: 8px;
}


/* fin index */
    
/* libros */

.navbar-libros {
    border-bottom: 2px solid white ;
}

.navbar-libros .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar-libros .li-casas-libros{
    font-size: 10px;
    text-align: left;
    padding-left:0px ;
    
}

.navbar-libros .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-libros ul{
    display: flex;
    flex-direction: column;
    margin-left: -50%;
    padding-left: 20px;
    
}

.navbar .li-casas-libros li {
    font-size: 10px;
    display: flex;
    margin-left: 80px;
    list-style: outside;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }


.body-libros {
       display: flex;
       flex-direction: column;
       text-align: center;
       background-image:none;
       background-color: black;
    }

.book1, .book2, .book3, .book4  {
    display: none;

}
.libro1, .libro2, .libro3, .libro4 , h3 {
    color: rgb(236, 18, 138);

}
.libro1, .libro2, .libro3, .libro4 , p {
    color: rgb(18, 149, 236) !important;
/* fin libros */

}

/* serie-hbo */
.navbar-hbo ul{
    display: flex;
    flex-direction: column;
    margin-left: -40%;
    padding-left: 0;
    
}

.navbar-hbo .li-libros{
    font-size: 10px;
    text-align: left;
    
}
.navbar-hbo .li-casas-hbo{
    font-size: 10px;
    text-align: left;
    padding: 0px;
    list-style: none;
}
.navbar-hbo .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-hbo .li-casas-hbo li {
    font-size: 10px;
    display: flex;
    margin-left: 80px;
    list-style: outside;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }



/* fin-hbo */

/* inicio stark */
.navbar-stark {
    border-bottom: 2px solid white ;
}

.navbar-stark .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar-stark .li-casas-stark{
    font-size: 10px;
    text-align: left;
    padding-left:0px ;
}
.navbar-stark .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-stark ul{
    display: flex;
    flex-direction: column;
    margin-left: -45%;
    padding-left: 20px;
}

.navbar .li-casas-stark ul li {
    font-size: 8px;
    display: flex;
    margin-left: 80px;
    list-style: outside;
}

.navbar-stark ul li:hover > ul {
    display: block;
    list-style: outside;
    padding-left: 90px;
}
.navbar-stark ul li {
    font-size: 8px;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }


.stark-family {
    margin-bottom: 150px;
}

/* fin stark */

/* baratheon */

.navbar-baratheon {
    border-bottom: 2px solid white ;
}

.navbar-baratheon .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar-baratheon .li-casas-baratheon{
    font-size: 10px;
    text-align: left;
    padding-left:0px ;
}
.navbar-baratheon .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-baratheon ul{
    display: flex;
    flex-direction: column;
    margin-left: -45%;
    padding-left: 20px;
}

.navbar-baratheon ul li {
    font-size: 8px;
}

.navbar-baratheon ul li:hover > ul {
    display: block;
    list-style: outside;
    padding-left: 90px;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }


.baratheon-family {
    margin-bottom: 80px;
}

/* fin baratheon */

/* lannister */
.navbar-lannister {
    border-bottom: 2px solid white ;
}

.navbar-lannister .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar-lannister .li-casas-lannister{
    font-size: 10px;
    text-align: left;
    padding-left:0px ;
}
.navbar-lannister .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-lannister ul{
    display: flex;
    flex-direction: column;
    margin-left: -45%;
    padding-left: 20px;
}

.navbar-lannister ul li {
    font-size: 8px;
}

.navbar-lannister ul li:hover > ul {
    display: block;
    list-style: outside;
    padding-left: 90px;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }


.lannister-family {
    margin-bottom: 100px;
}

/* fin lannister */

/* targaryen */

.navbar-targaryen {
    border-bottom: 2px solid white ;
}

.navbar-targaryen .li-libros{
    font-size: 10px;
    text-align: left;
}
.navbar-targaryen .li-casas-targaryen{
    font-size: 10px;
    text-align: left;
    padding-left:0px ;
}
.navbar-targaryen .li-serie{
    font-size: 10px;
    text-align: left;
}

.navbar-targaryen ul{
    display: flex;
    flex-direction: column;
    margin-left: -45%;
    padding-left: 20px;
}

.navbar-targaryen ul li {
    font-size: 8px;
}

.navbar-targaryen ul li:hover > ul {
    display: block;
    list-style: outside;
    padding-left: 90px;
}

.navbar a:hover {
    font-weight: bolder;
    color: #00d5f1;
  }

.targaryen-family {
    margin-bottom: 80px;
}

}
/* fin targaryen */

/* Tablet */

/* @media only screen and (min-width: 401px) and (max-width: 960px) { */

/* Desktop
@media only screen and (min-width: 961px) { */
